@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6dprp1');
  src:  url('fonts/icomoon.eot?6dprp1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6dprp1') format('truetype'),
    url('fonts/icomoon.woff?6dprp1') format('woff'),
    url('fonts/icomoon.svg?6dprp1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-number:before {
  content: "\e90b";
}
.icon-number2:before {
  content: "\e90c";
}
.icon-number3:before {
  content: "\e90d";
}
.icon-number4:before {
  content: "\e90e";
}
.icon-number5:before {
  content: "\e90f";
}
.icon-number6:before {
  content: "\e910";
}
.icon-number7:before {
  content: "\e911";
}
.icon-number8:before {
  content: "\e912";
}
.icon-number9:before {
  content: "\e913";
}
.icon-number10:before {
  content: "\e914";
}
.icon-search2:before {
  content: "\f002";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-angle-down:before {
  content: "\e90a";
}
.icon-long-arrow-up:before {
  content: "\e908";
}
.icon-long-arrow-down:before {
  content: "\e909";
}
.icon-calendar:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e905";
}
.icon-angle-right:before {
  content: "\e906";
}
.icon-map-marker:before {
  content: "\e904";
}
.icon-clock-o:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e901";
}
.icon-lock:before {
  content: "\e902";
}
.icon-user:before {
  content: "\e903";
}
.icon-angle-double-up:before {
  content: "\e915";
}
.icon-angle-double-down:before {
  content: "\e916";
}
